@import 'ember-paper';
.link-layer line {
  stroke: #aaa;
  stroke-width: 1.5px;
}

.link-layer line.dotted {
  stroke-dasharray: 5;
}

.node-layer circle {
  pointer-events: all;
  stroke: none;
  stroke-width: 40px;
}

circle {
  fill: #ccc;
  stroke: #333;
  stroke-width: 1.5px;
}

circle.enrichment {
  fill: red;
  stroke: black;
  stroke-width: 3px;
}

circle.selected {
  fill: blue;
  stroke: black;
  stroke-width: 3px;
}

text {
  font: 16px sans-serif;
  pointer-events: none;
}

text.shadow {
  stroke: #fff;
  stroke-width: 5px;
  stroke-opacity: .8;
}
.termlist {
  max-height: 90vh !important;
}

.scrollabletermlist {
  max-height: 100%;
  overflow-y: auto;
}

.term-ontology-card {
  max-height: 90vh;
}
.term-ontology-graph-container {
  height: 100%;
}

term-ontology-graph {
  max-height: 100%;
}

.zoom {
  cursor: move;
  fill: none;
  pointer-events: all;
}

md-icon.term-selected {
  background-color: rgba(4, 0, 255, 0.38) !important;
}
